
.content{
	width:8.27in; 
	margin:1.0in .5in .5in .5in;
	text-align: justify;
        text-justify: distribute;
	line-height: 1.5;	
}

.block{
	width: 75%;
	margin-left: 25%;
	font-size: 0.90em;
	padding-bottom: 5px;
	padding-top: 5px;
	overflow: hidden;
}

#maintitle{
	font-size: 3.5em;
	color: #444;
}

#subtitle {
	padding-left: 0px;
}

#title{
	padding-bottom: .5in;
}

.tag{
	width: 20%;
	float: left;
	font-size: 1.75em;
	font-style: italic;
	color: #777;
	padding-top: 5px;
	padding-right: 5%;
}

.by3{
	width: 30%;
	float: left;
	text-align: left;
	padding-right: 3%;
}

.by2{
	width: 50%;
	float: left;
	text-align: justify;
}

.by2padded{
	width: 45%;
	float: left;
	text-align: justify;
	padding-right: 5%;
}


.hed{
	font-size: 1.1em;
	font-weight: bold;
}

.subhed{
	font-size: 1em;
}

.duration{
	text-align: right;
	font-size: 0.85em;
}

hr{
	margin-left: 25%;
	border: 0 none;
	height: 1px;
	background-color: #AAA;
	clear: both;
}

p{
	padding-top: 5px;
	clear: both;
}

.pbreak{
	page-break-after: always;
}
