
#content{
	margin: auto;
	width: 70%;
	min-width: 15em;
	padding-top: 5%;
}

#name{
	font-size: 2.75em;
	color: #333;
}

#pronounciation{
	margin-top: 5px;
	color: #888;
	padding-left: 2em;
	padding-top: 0.5em;
}

dl{
	padding-left: 2em;
}

dt{
	font-weight: bold;
	color: #444;
}

dd{
	color: #555;
}
