@font-face{
	font-family: chalk;
	src: url(../fonts/chalk.ttf);
}

body{
	background-image: url(../images/blckbrd.jpg);
	background-size: 100% auto;
	font-family: chalk;
	letter-spacing: 0.35em;
}

#content{
	margin: auto;
	width: 70%;
	min-width: 15em;
	padding-top: 10%;
}

#name{
	font-size: 2.75em;
	color: #bbb;
}

#pronounciation{
	margin-top: 5px;
	color: #bbb;
	padding-left: 2em;
	padding-top: 0.5em;
}

dl{
	padding-left: 2em;
}

dt{
	font-weight: bold;
	color: #bbb;
}

dd{
	padding-top: 0.5em;
	color: #999;
}
