body{
}

#content{
	margin: auto;
	width: 70%;
	min-width: 15em;
	padding-top: 10%;
}

#name{
	font-size: 2.75em;
	color: #4F2433;
}

#pronounciation{
	margin-top: 5px;
	color: #B36D84;
	padding-left: 2em;
	padding-top: 0.5em;
}

dl{
	padding-left: 2em;
}

dt{
	font-weight: bold;
	color: #6E4452;
}

dd{
	padding-top: 0.5em;
	color: #734655;
}
