@media screen and (min-resolution:200dpi){
	body{
		font-size: 4em;
	}
	#content{
		padding-top: 5%;
	}

}

@media screen and (min-resolution:300dpi){
	body{
		font-size: 2em;
	}
	#content{
		padding-top: 5%;
	}

}


@media screen and (orientation:portrait){
	body{
		font-size: 2.25em;
		
	}
	#content{
		width: 80%;
		min-width: 10em;
		margin: auto;
	}
}
